
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FPT Telecom</title>
    <link rel="icon" href="~/Images/header-logo.ico">
</head>
<body>
<div class="bodyss">
    <center style="margin: auto;">
        <img src="~/Images/FPT_Logo.jpg" style="width:350px; margin-top:50px;" />
        <h1 style="color: rgb(2, 125, 199); margin-top: 20px; margin-bottom: 10px;">
            Công ty Cổ phần Viễn thông FPT
        </h1>
        <h2 style="color: rgb(2, 125, 199); margin-top: 10px;">Trung tâm Hệ thống thông tin</h2>
        <div class="footer">
            <p style="font-size: 16px; font-weight: bold;">&copy; @DateTime.Now.Year - FPT Telecom</p>
        </div>
    </center>
</div>
</body>
</html>
