@{
    ViewBag.Title = "ListStaff";
    Layout = "~/Views/Shared/_Share.cshtml";
}

<link href="~/Content/KendoUI/Gird.css" rel="stylesheet" />
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                Cước gọi di động
            </div>
            <center>
                <table style="margin: 10px;" class="">
                    <tr style="height: 40px;">
                        <td class="active" style="width:30%"><strong>Tìm kiếm theo:</strong></td>
                        <td style="width:5%"></td>
                        <td><input id="iddtfrom" onblur="CheckDate(this.value, 'iddtfrom')"></td>

                    </tr>
                    <tr id="trlocation" style="height: 40px;">
                        <td class="active" style="width:30%"><strong>Tỉnh/TP:</strong></td>
                        <td style="width:5%"></td>
                        <td><input id="iddtto" onblur="CheckDate(this.value, 'iddtto')"></td>
                    </tr>
                    <tr style="height: 40px;">
                        <td></td>
                        <td></td>
                        <td><button id="idbtnsearch" type="button" class="btn btn-outline btn-info" style="width:65%"><span class="fa fa-search"></span> Tìm kiếm</button> </td>

                    </tr>
                </table>
                <p id="idinfo"></p>
                <div id="grid"></div>
            </center>

        </div>
    </div>
</div>
<script src="~/Scripts/Areas/Management/ListManagemenPhone.js"></script>