@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Share.cshtml";
}


<body>  
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Đổi mật khẩu</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form">
                            <fieldset>
                                <div class="form-group">
                                    <label>Mật khẩu hiện tại</label>
                                    <input class="form-control" maxlength="15" id="idOldPassword" type="password" autofocus required>
                                </div>
                                <div class="form-group">
                                    <label>Mật khẩu mới</label>
                                    <input class="form-control" maxlength="15" id="idNewPassword" type="password"  required>
                                </div>
                                <div class="form-group">
                                    <label>Nhập lại mật khẩu mới</label>
                                    <input class="form-control" maxlength="15" id="idNewPasswordv2" type="password" required>
                                </div>
                                <p id="idinfo" class="help-block"></p>
                                <input class="btn btn-lg btn-success btn-block" id="idchange" value="Đổi mật khẩu" type="button">

                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>   

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/Areas/CallUser/ChangePassword.js"></script>
</body>

