
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Share.cshtml";
}

<body>
<div class="row">
<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            Thông tin tài khoản
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-6">
                    <form role="form">
                        <div class="form-group">
                            <label>Tài khoản</label>
                            <p id="idUserName" class="form-control-static"></p>
                        </div>
                        <div class="form-group">
                            <label>Họ và Tên</label>
                            <p id="idStaffName" class="form-control-static"></p>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <p id="idEmail" class="form-control-static">email@example.com</p>
                        </div>
                        <div class="form-group">
                            <label>Chức vụ</label>
                            <p id="idRoleName" class="form-control-static">email@example.com</p>
                        </div>
                        <div class="form-group">
                            <label>Số IP phone</label>
                            <p id="idIPPhone" class="form-control-static">email@example.com</p>
                        </div>
                            
                        <div class="form-group">
                            <label>Giới Tính</label>
                            <select id="idgioitinh"class="form-control" style="width: 10%">
                                <option value="1">Nam</option>
                                <option value="2">Nữ</option>
                            </select>
                        </div>
                        
                        <button type="button" class="btn btn-default">Submit Button</button>
                    </form>
                </div>
                <div class="col-lg-6">
                    <form role="form">
                        <div class="form-group">
                            <label>Công ty</label>
                            <p id="idCompanyName" class="form-control-static">email@example.com</p>
                        </div>
                        <div class="form-group">
                            <label>Chi nhánh</label>
                            <p id="idBranchName" class="form-control-static"></p>
                        </div>
                        <div class="form-group">
                            <label>Phòng ban</label>
                            <p id="idDepartmentName" class="form-control-static">email@example.com</p>
                        </div>
                        <div class="form-group">
                            <label>Ngày vào công ty</label>
                            <p id="idDayIn" class="form-control-static">email@example.com</p>
                        </div>
                        <div class="form-group">
                            <label>Số di động</label>
                            <input id="idPhoneNumber" class="form-control">
                        </div>
                    </form>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
    </div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/Areas/CallUser/User.js"></script>
</body>

