@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Share.cshtml";
}
<script src="~/Scripts/KendoUI/Scripts/jszip.min.js"></script>
<link href="~/Content/KendoUI/Gird.css" rel="stylesheet" />
<div class="container" style="width: 100%">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Thông tin số nội bộ
                </div>
                <div class="panel-body">
                    <div id="dvExportGrid">
                        <button id="ExportGrid1" class="k-button" type="button"><span class="glyphicon glyphicon-save"></span> Xuất Excel<span> </span></button>
                        <div id="grid"></div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>

<script src="~/Scripts/Areas/PhoneInside/InfoPhoneInside.js"></script>


